<template>
<div class="wrapper">
 <div class="mb-3" >
            <label for="formGroupExampleInput" class="form-label">Title Post</label>
            <input type="text" class="form-control" v-model="title" id="formGroupExampleInput" placeholder="Title Post">
            </div>
            <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Decription Post</label>
            <input type="text" class="form-control" v-model="descr" id="formGroupExampleInput2" placeholder="Decription Post">
            </div>
            <div class="mb-3">
            <label for="formFile" class="form-label">Img</label>
            <img :src="'http://127.0.0.1:8000'+ img" style="max-width:200px;margin:40px">
            <input class="form-control" type="file"  ref="file" @change="onChangeFileUpload()" id="formFile">
            </div>
            <button type="button" class="btn btn-warning" @click="updatePost">Update</button>
</div>



 
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import router from '../router'

export default {
  name: 'Post',
  data(){
    return{
      post:null,
      id:null,
      title:null,
      descr:null,
      img:'',
      file:null
        
    }

},
    computed:{
    ...mapGetters(['POSTS']),
  },
    methods:{
...mapActions(['GET_POSTS','UPDATE_POST','DELETE_POST']),
getPost(){
     this.post = this.POSTS.find(post=>post.id == this.$route.params.id)
     this.id = this.post.id
     this.title = this.post.title
     this.descr = this.post.descr
     this.img = this.post.img
   
},
async updatePost(){
   let post=new FormData();
            post.append('id', this.id);
            post.append('img', this.file);
            post.append('title', this.title);
            post.append('descr', this.descr);
            await   this.UPDATE_POST(post)
            this.id = null
            this.title = null
            this.descr = null
            this.img = ''
            await  this.GET_POSTS()
            await this.getPost()
            
        },
 onChangeFileUpload(){
          this.file = this.$refs.file.files[0];
  },
  

},
async mounted() {
    await this.GET_POSTS()
    await this.getPost()

},


}

</script>
<style >
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444444;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.6;
  font-size: 90%;
}

.row {
  display: flex; /* включение технологии flexbox */
  flex-direction: row; /* колонки в ряду */
  justify-content: center; /* колонки в центре контейнера */
  flex-wrap: nowrap; /* держать колонки в ряду */
  margin: 20px;
}

.column {
  display: flex;  /* одинаковая высота колонок */ 
  width: 33.33%; /* ширина одной колонки */
  padding: 5px;
}

.card {
  border: 1px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.card-content {
  padding: 0 20px;
}

a {
  color: #444444;
  text-decoration: none;
  transition: all .3s ease; 
}

.card-content .fa, span {
    font-size: 80%;
}

.card h2 {
  padding-top: 10px;
  color: #f76270;
  font-size: 130%;
  line-height: 1.2;
}

.card p {
  margin: 20px 0 30px;
  color: #666666;
    
}

.button {
  display: block;
  background: #a7c1cf;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
 }
 
 .button:hover, .button:focus {
    background: #f76270;
}

@media screen and (max-width: 640px) {
  .row {
  flex-direction: column; /* в ряду останется одна колонка */ 
    flex-wrap: wrap; /* разрешен перенос колонок */
}
  .column {
    width: 100%; /* новая ширина колонки */
    margin-bottom: 20px;
  }
}
</style>
