<template>
<div class="wrapper" >
    <div v-if="!postForm">
     <div class="row row-cols-10 " >
        <div class="col" v-for="post in POSTS" :key="post.id">
            <div class="card">
            <img :src="'http://127.0.0.1:8000' + post.img" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.descr}}</p>
                <button type="button" class="btn btn-danger" @click="deletePost(post.id)">Delete</button>
                <router-link
                :to="{name:'Post', params:{id:post.id}}"
                 class="btn btn-success"
                >Update</router-link>
            </div>
            </div>
        </div>
        </div>
         
        <button type="button" class="btn btn-outline-primary" @click="postFormButton">Create post</button>

    </div>
    <div v-else>
            <div class="mb-3" >
            <label for="formGroupExampleInput" class="form-label">Title Post</label>
            <input type="text" class="form-control" v-model="title" id="formGroupExampleInput" placeholder="Title Post">
            </div>
            <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Decription Post</label>
            <input type="text" class="form-control" v-model="descr" id="formGroupExampleInput2" placeholder="Decription Post">
            </div>
            <div class="mb-3">
            <label for="formFile" class="form-label">Img</label>
            <input class="form-control" type="file"  ref="file" @change="onChangeFileUpload()" id="formFile">
            </div>
            <button type="button" class="btn btn-success" @click="createPost">Create</button>
    </div>
<router-view></router-view>
</div>


 
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
// import Auth from '../helpers/Auth';

export default {
    name: 'Posts',
data(){
    return{

        postForm:false,
        file:null,
        title:null,
        descr:null
  
    }

},
   computed:{
    ...mapGetters(['POSTS']),
  },
   methods:{
...mapActions(['GET_POSTS','CREATE_POST','DELETE_POST']),
     async  createPost(){
         let post = new FormData();
            post.append('img', this.file);
            post.append('title', this.title);
            post.append('descr', this.descr);
           

     await   this.CREATE_POST(post)
        this.postForm=!this.postForm
      await  this.GET_POSTS()
    },
    postFormButton(){
        this.postForm=!this.postForm
    },
    onChangeFileUpload(){
          this.file = this.$refs.file.files[0];
    },
   async deletePost(e){
        let post={
            id:e
        }
      await  this.DELETE_POST(post)

     await   this.GET_POSTS()
    }
 
  },
   mounted() {
    this.GET_POSTS()
  }
}

</script>
<style >
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444444;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.6;
  font-size: 90%;
}

.row {
  display: flex; /* включение технологии flexbox */
  flex-direction: row; /* колонки в ряду */
  justify-content: center; /* колонки в центре контейнера */
  flex-wrap: nowrap; /* держать колонки в ряду */
  margin: 20px;
}

.column {
  display: flex;  /* одинаковая высота колонок */ 
  width: 33.33%; /* ширина одной колонки */
  padding: 5px;
}

.card {
  border: 1px solid #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.card-content {
  padding: 0 20px;
}

a {
  color: #444444;
  text-decoration: none;
  transition: all .3s ease; 
}

.card-content .fa, span {
    font-size: 80%;
}

.card h2 {
  padding-top: 10px;
  color: #f76270;
  font-size: 130%;
  line-height: 1.2;
}

.card p {
  margin: 20px 0 30px;
  color: #666666;
    
}

.button {
  display: block;
  background: #a7c1cf;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
 }
 
 .button:hover, .button:focus {
    background: #f76270;
}

@media screen and (max-width: 640px) {
  .row {
  flex-direction: column; /* в ряду останется одна колонка */ 
    flex-wrap: wrap; /* разрешен перенос колонок */
}
  .column {
    width: 100%; /* новая ширина колонки */
    margin-bottom: 20px;
  }
}
</style>
