<template>
<div class="wrapper">
  <Posts/>
  
  
</div>
</template>

<script>
import Posts from '../components/Posts.vue'

export default {
  name: 'Wrapper',
  components: {
  Posts
  }
}
</script>
<style >
.wrapper{
  max-width: 1440px;
  margin:0 auto;
  padding-top: 200px;
}
</style>

