<template>
<div class="wrapper">
  <router-view></router-view>
</div>


</template>

<script>
// import Wrapper from './components/Wrapper.vue'

export default {
  name: 'App',

}
</script>
<style >
.wrapper{
  max-width: 1440px;
  margin:0 auto;
 
}
</style>

